{% extends 'index.html' %} {% load static %} <link rel="stylesheet" href="{% static 'todo/style.css' %}" /> {% block content %}
<a href="{% url 'index' %}">Accueil</a>
<main>
  <div class="flexbox">
    <h2>La nouvelle tâche ?!</h2>
    {% csrf_token %}
    <ul>
      {{ form.as_p }}
    </ul>
    <button type="submit">Valider</button>
    </form>
    <h2>Les catégories</h2>
    <ul>
      {% for object in categories_list %}
      <li>{{ object.id }} - {{ object.name }}</li>
      {% endfor %}
      <form method="post">
    </ul>
    
    <h2>Les projets</h2>
    <ul>
      {% for object in projects_list %}
      <li>{{ object.id }} - {{ object.name }}</li>
      {% endfor %}
    </ul>
    
    <h2>Les tâches</h2>
    <ul>
      {% for object in projects_list %}
      <li>{{ object.id }} - {{ object.name }}</li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}
