{% extends 'index.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'todo/style.css' %}" />
{% block content %}
<h2>Tasks about this horror project !?</h2>
<!-- <a href="{% url 'index' %}">Accueil</a> -->

<form method="POST">
  {% csrf_token %} {{ form.as_p }}

  <button type="submit">Valider</button>
</form>

{% if selected_project %}
<h2>Tasks about {{ selected_project.name }}:</h2>
<ul>
  {% for task in tasks_about_selected_project %}
  <li>{{ task.name }} - {{ task.target_date }}</li>
  {% empty %}
  <li>Aucune tâche pour ce projet.</li>
  {% endfor %}
</ul>
{% else %}
<p>Aucun projet sélectionné.</p>
{% endif %} {% endblock %}
